# ------------------ Application ------------------
ENVIRONMENT=local

# ------------------ File Upload ------------------
MAX_FILE_SIZE_MB=50

# ------------------ Data Base ------------------
DATABASE_URL=sqlite+aiosqlite:///./data/rag.db
